html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p, ul, ol {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px; /* Added padding for mobile devices */
}

.button,
.button-alt {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #007bff;
  color: #fff;
}

.button-alt {
  background-color:  #FFD700;
  color: #000;
}

.button:hover,
.button-alt:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.bucket_item_container {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  background-color: white;
  margin: 20px;
}

.bucket_item_container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.bucket_item_title {
  color: blue;
}

.bucket_item_box {
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;
  background: linear-gradient(to top right, #87cefa, #4169e1);
  width: 100%; /* Modified width for mobile devices */
}

.bucket_item_box:hover {
  background: linear-gradient(to top right, #87cefa, #4169e1);
  background-size: 200% 200%;
  animation: gradientAnimation 4s ease infinite;
}

.bucket_item_container_inner_box {
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap for mobile devices */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.bucket_item_icons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; /* Added flex-grow for mobile devices */
  flex-wrap: wrap; /* Added flex-wrap for mobile devices */
}

.bucket_item_icons_container_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.spacer {
  margin: 0 25px;
}

.icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.hide-button-border {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.heart-icon:hover svg,
.heart-icon-liked:hover svg {
  fill: rgba(255, 0, 0, 0.5);
}

.heart-icon-liked svg {
  fill: red;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  z-index: 9999;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 9998;
}

.hover-sheen {
  position: relative;
  overflow: hidden;
}

.hover-sheen::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.hover-sheen:hover::before {
  opacity: 1;
  animation: hover-sheen-animation 2s infinite;
}

@keyframes hover-sheen-animation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.plus-icon {
  width: 100%;
  height: 100%;
  border: 1px solid black !important;
}

.new-bucket-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin: 0 auto;
}

.form-action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  position: sticky;
  top: -60px;
  left: 0;
  width: 100%;
  background-color: navy;
  padding: 10px;
  z-index: 999;
  border-bottom: 5px solid #111;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header p {
  margin-top: 10px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.smile-icon:hover svg,
.smile-icon-pressed:hover svg {
  fill: rgba(255, 255, 0, 0.5);
}

.smile-icon-pressed svg {
  fill: yellow;
}

.smile-icon-pressed:hover svg {
  fill: rgba(255, 255, 0, 0.5);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.participants-container {
  position: relative;
  display: inline-block;
}

.participants-window {
  position: absolute;
  z-index: 1;
  transform: translateX(-150%) translateY(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: yellow;
  margin: 8px;
  padding: 8px;
  width: max-content;
  border-radius: 8px;
}

.participants-window h3 {
  color: white;
  background-color: #4169e1;
  text-align: center;
}

.bucket-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: cyan;
  width: 90%;
  padding: 20px;
}

.bucket-info-box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 20px;
  width: 90%;
  border: 1px solid black;
  z-index: 1;
  height: 60px;
}

.tag {
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
  position: absolute;
  transform: translate(-70px, -35px);
  text-shadow: 0 0 5px #4169e1,
              0 0 10px #4169e1,
              0 0 20px #4169e1,
              0 0 30px #4169e1;
}

.like-container {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  width: 90%;
  transform: translate(20px, -10px);
}

.like-container-text {
  margin: 10px;
}

.like-container-icon {
  margin-left: 4px;
}

.home-page-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-repeat: repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/background.jpg');
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  width: 80%;
  padding: 10px;
}

.home-page-container h1 {
  font-size: 48px;
  text-align: center; 
}

.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-my-groups-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: navy;
  width: 80%; 
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.home-create-group-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: navy;
  width: 80%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.home-page-header-text {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  width: 80%;
  background-color: #111;
  color: white;
  text-transform: uppercase;
}

.group-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

.group-text {
  flex: 1;
  align-items: left;
  justify-content: center;
  margin: 8px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.group-buttons {
  align-content: right;
  justify-content: center;
  margin: 8px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.join-group-form {
  color: white;
}

.join-group-submit-button {
  background-color: #eee;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.join-group-submit-button:hover {
  background-color: #ccc;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.button-subtext {
  display: inline-block;
  margin-bottom: 4px;
}

.fix-icon-pos {
  transform: translate(0, 6px);
}

.delete-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry-code {
  background-color: white;
  color: black !important;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
